* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.brand {
  max-width: 200px;
}

.brand img {
  width: 100%;
}

.fw-bold {
  font-weight: 600!important;
}

.nav-link {
  border: 1px inset #7ff8c1;
  border-radius: 5px;
  box-shadow: 5px 10px 8px #9aecc7;
  margin: 0 20px;
  padding: unset;
  padding: 0 20px;
}

.bg-opacity-30 {
    --bs-bg-opacity: 0.3;
}

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  margin-bottom: 0!important;
}

.title span {
  font-weight: bold;
  font-size: 40px;
  color: #000;
}

form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search {
  display: flex;
  max-width: 350px;
}

.search button {
  border: none;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.form-contact {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  min-width: 300px;
  margin: 0 auto;
  padding-bottom: 2em;
  text-align: left;
}

footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.container-icon-links {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.container-icon-links img {
  width: 60px;
}

.table {
  text-align: left;
}